* {
  margin: 0px;
}

header {
  background-color: black;
  height: 200px;
  border-radius: 5px;
  margin-top: 0px;
  margin-bottom: 5px;
  line-height: 100px;
}
h1 {
  text-align: center;
  color: yellow;
  font-size: 50px;
}
nav {
  text-align: center;
  font-size: 30px;
  height: 90px;
  border-radius: 5px;
  margin-top: 0px;
  margin-bottom: 5px;
  line-height: 100px;
}
#Contenedor {
  width: 90%;
  margin: auto;
}
section {
  background-color: black;
  height: 500px;
  border-radius: 5px;
  margin-bottom: 40px;
}
article {
  float: left;
  height: 250px;
  width: calc(33.33% - (13.33px));
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 5px;
  text-align: center;
  padding-top: 10px;
}
img {
  height: 300px;
  width: 300px;
  margin-top: 50px;
  margin-left: 10px;
}

footer {
  background-color: black;
  text-align: center;
  color: white;
  font-size: 20px;
  height: 90px;
  border-radius: 5px;
  margin-top: 0px;
  margin-bottom: 5px;
  line-height: 100px;
}
