* {
  margin: 0px;
}

header {
  background-color: black;
  height: 200px;
  border-radius: 5px;
  margin-top: 0px;
  margin-bottom: 5px;
  line-height: 100px;
}
nav {
  font-size: 30px;
  height: 80px;
  border-radius: 5px;
  margin-top: 0px;
  margin-bottom: 5px;
  line-height: 100px;
}

.navegacion {
  margin-top: 0px;
  width: 100%;
  margin: 10px auto;
  background: black;
  font-size: 12px;
}
.navegacion ul {
  list-style: none;
}
.menu > li {
  position: relative;
  display: inline-block;
}
.menu > li > a {
  display: block;
  padding: 15px 20px;
  color: white;
  font-family: "open sans";
  text-decoration: none;
}
.menu li a:hover {
  color: #ce7d35;
  transition: all 0.3s;
}
/*Submenu*/
.submenu {
  position: absolute;
  background-color: #333333;
  color: white;
  width: 90%;
  display: none;
}
.submenu li a {
  display: block;
  color: white;
  font-family: "Open sans";
  text-decoration: none;
}
.menu li:hover .submenu {
  display: block;
}

.flecha {
  height: 50px;
  width: 90px;
  position: relative;
}
h1 {
  text-align: center;
  color: yellow;
  font-size: 50px;
}

.html {
  text-align: center;
  font-size: 40px;
}

#container {
  width: 90%;
  margin: auto;
}
footer {
  background-color: black;
  text-align: center;
  color: white;
  font-size: 20px;
  height: 90px;
  border-radius: 5px;
  margin-top: 0px;
  margin-bottom: 5px;
  line-height: 100px;
}

section {
  background-color: black;
  height: 700px;
  border-radius: 5px;
  margin-bottom: 40px;
  margin-top: 50px;
}
article {
  background-color: black;
  position: absolute;
  top: 0;
  height: 300px;
  width: 800px;
  padding: 50px;
  padding-left: 0.2em;
  font-size: 80%;
  text-align: center;
  left: 400px;
  margin-top: 300px;
}
iframe {
  border: none;
  width: 700px;
  height: 400px;
}
